{%extends 'pos/base.html'%} 
{%load static%}
{% load crispy_forms_tags %}
{%block title%}
Settings
{%endblock title%}
{% block heading %}<i class="fa fa-user-plus mr-4"></i> User Create {% endblock heading%}
<div id="status">

</div>
{%block content%}
<!-- to be polished up implementation of emails and better ui (shaun)  -->
<div class="row mb-4">
    <div class="card col-md-10 tab-content mt-3 mx-auto">
        <!--Customer tab-->
        <div class="tab-pane fade show active" id="customer" role="tabpanel" aria-labelledby="customer-tab">
            <i class="text-info">* indicates a required field </i>
            <div class="card-body pl-3">          
              <form action="/users/create/" method="post">
                {% csrf_token %}
                <div class="row g-4">
                    {{ form|crispy }}
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- .nk-block -->
{% endblock content %}